body {
  background-color: rgb(252, 252, 252);
}

.App {
  text-align: left;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 24px 0;
  color: #333;
}

.App h1 {
  font-size: 26px;
  padding: 0 0 24px 0;
  text-align: center;
  font-weight: 600;
}

/* MAIN DIV CONTAINER */

.main {
  display: flex;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
    padding: 0 24px;
  }
}

h2 {
  font-size: 20px;
  padding-bottom: 18px;
  text-decoration: underline #4b79bc;
  text-underline-offset: 8px;
  font-weight: 600;
}

/* FORM */

.form {
  background-color: white;
  padding: 32px 60px 12px 60px;
  border-radius: 4px;
  box-shadow: 0 15px 35px 0 rgba(60,66,87,.08),0 5px 15px 0 rgba(0,0,0,.12);
}

.form fieldset > div {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-bottom: 24px;
}

.form div label {
  padding: 0px 0 6px 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form input {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 4px;
  height: 20px;
  padding: 10px;
  font-size: 16px;
}

.form select {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
}

.radio-container label:first-child {
  padding-right: 12px;
}

/* SIGNATURE/FORM RESULT */

.form-result {
  min-width: 300px;
  padding: 32px 0px;
  border-radius: 4px;
}

.copybox {
  width: auto;
}

.form-result button {
  width: 100%;
  margin-top: 24px;
  padding: 14px 12px;
  background-color: #4b79bc ;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.form-result button:hover {
  background-color: black;
}




